* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow-x: hidden;
  /* font-family: 'Inter'; */
}

@font-face {
  font-family: "ONEMobileTitle";
  font-weight: 200;
  src: url("/fonts/ONEMobileTitle.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansTTFLight";
  font-weight: 200;
  src: url("/fonts/GmarketSansTTFLight.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("/fonts/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "InterBlack";
  font-weight: 200;
  src: url("/fonts/InterBlack.ttf") format("truetype");
}
